NODE_ENV=development

FRONTEND_PORT=5500
BACKEND_PORT=3001

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=sigsis_db
MYSQL_USER=sigsis_user
MYSQL_PASSWORD=sigsis_password
MYSQL_ROOT_PASSWORD=root_password

JWT_SECRET=troque_essa_chave
JWT_EXPIRES_IN=8h

UPLOAD_DIR=backend/uploads
MAX_UPLOAD_SIZE_MB=50
